:root {
    --gold: #eebf7f;
}

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}


section {
    padding: 0 9%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    transition: all 0.5s;
}

header .logo h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
}

header .navbar a {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    padding: 0 1.5rem;
    color: black;
}

#navbar a:hover {
    color: var(--gold);
    animation: 0.5s linear;
}

.header-scrolled {
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.home {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url("imagenes/fondo (1).png") no-repeat right;
    background-size: contain;
}

.home .content {
    max-width: 50rem;
}

.home .content h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 5rem;
    color: #333;
}

.home .content p {
    font-size: 1.5rem;
    color: black;
    padding: 1rem 0;
    line-height: 1.5;
}

.theory .row {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.theory .row .img-container {
    flex: 1 1 40rem;
    position: relative;
}

.theory .row .img-container img {
    width: 100%;
    border: 1.5rem solid #fff;
    border-radius: .5rem;
    height: 100%;
    object-fit: cover;
}

.theory .row .content {
    flex: 1 1 40rem;
}


.theory .row .content h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    color: #333;
    margin-bottom: 0.5%;
}

.theory .row .content p {
    font-size: 1.5rem;
    color: #333;
    padding: 1rem 0 .5rem;
    line-height: 1.5;
}

.example {
    margin-bottom: 30px;
    width: 100%;
}

.example h2 {
    font-family: 'Poppins', sans-serif;
    color: #333;
    font-size: 3rem;
    margin-bottom: 0.5%;
}

.example p {
    font-size: 1.5rem;
    color: #333;
    padding: 1rem 0 .5rem;
    line-height: 1.5;
    width: 100%;
    text-align: justify;
}

.example ol {
    font-size: 1.5rem;
    color: #333;
    line-height: 1.5;
    padding: 1rem 0 .5rem 100px;
}

.exercise .row {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.exercise .row .img-container {
    flex: 1 1 40rem;
    position: relative;
}

.exercise .row .img-container img {
    width: 100%;
    border: 1.5rem solid #fff;
    border-radius: .5rem;
    height: 100%;
    object-fit: cover;
}


.exercise .row .content {
    flex: 1 1 40rem;
}


.exercise .row .content h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    color: #333;
    margin-bottom: 0.5%;
}

.exercise .row .content p {
    font-size: 1.5rem;
    color: #333;
    padding: 1rem 0 .5rem;
    line-height: 1.5;
}

.exercise .row .content form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.exercise .form-container {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #333;
}

.exercise .form-container:last-child {
    margin-bottom: 0;
}

.exercise label {
    font-size: 1.5rem;
}

.box {
    border-radius: 10px;
    border: 1px solid var(--gold);
    text-align: center;
}

.box::placeholder {
    font-size: 1.5rem;
    text-align: center;
}

.exercise .row .content button {
    font-size: 1.5rem;
    padding: 10px 60px;
    background: var(--gold);
    outline: none;
    cursor: pointer;
    border: 0;
    border-radius: 30px;
    margin-top: 20px;
}

/* Inicio Ventana Modal */

.modalBien {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
    --transform: translateY(-100vh);
    --transition: transform .8s .8s;
}

.modalMal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
    --transform: translateY(-100vh);
    --transition: transform .8s .8s;
}

.modal_show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
}

.modal_container{
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: white;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition: var(--transition);
}

.modal_title{
    font-family: 'Poppins', sans-serif;
    font-size: 3.5rem;
}

.modal_paragraph{
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.modal_close{
    text-decoration: none;
    color: white;
    background-color: var(--gold);
    padding: 1em 3em;
    border: 1px solid;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
}

.modal_close:hover{
    color: var(--gold);
    background-color: white;
}

/* Fin Ventana Modal*/


/* Estilos para pantallas pequeñas */
@media only screen and (max-width: 767px) {
    /* Header */
    .navbar {
        display: none;
    }

    .logo {
        font-size: 1.8rem;
    }

    /* Home */
    .home {
        background-image: none;
        background-color: #fff; /* Color de fondo blanco */
    }

    .home h3 {
        font-size: 1rem;
    }


    /* Teoría */
    .img-container {
        margin-right: 0;
    }

    /* Ejemplo */
    .example {
        margin-bottom: 30px;
        margin-top: 60px;
        width: 100%;
    }

    /* Ejercicio */
    form {
        margin-top: 20px;
    }
}

/* Estilos para pantallas medianas y grandes */
@media only screen and (min-width: 768px) {
    /* Header */
    .navbar {
        display: block;
        margin-left: auto;
    }

    /* Home */
    .content {
        max-width: 700px;
    }

    /* Teoría */
    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .img-container {
        margin-right: 40px;
    }

    /* Ejercicio */
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }
}
